body {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
}

#foot-note {
  font-size: 7px;
  padding-bottom: 10px;
  margin-top: 0;
  color: darkgray;
}

#search-box {
  margin: 20px auto;
  border: 1px;
  border-style: solid;

  width: 400px;
}

#search-heading {
  background-color: rgba(5, 69, 130);
  padding-left: 20px;
  padding-top: 10px;
  margin-top: 0;
}

#search-heading p:first-child {
  font-weight: 400;
  font-size: 24px;
  color: white;
  margin-top: 0;
  margin-bottom: 0;
}

#search-heading-subtext {
  font-size: 12px;
  color: lightgray;
  margin-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0;
}

#location-inputs {
  width: 90%;
  margin: 0 auto;
}

#location-inputs p {
  font-size: 8px;
  margin-bottom: 1px;
}

#street-input {
  display: block;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

#city-postal-container {
  display: flex;
  margin: 0 auto;
  width: 100%;
}

#city-div {
  width: 45%;
}

#postal-code-div {
  width: 45%;
  margin-left: auto;
}

.half-input {
  box-sizing: border-box;
  width: 100%;
}

#country-picker {
  display: block;
  margin: 10px 0;
}

#search-button {
  margin-bottom: 10px;
  background-color: rgb(244, 222, 77);
  border-style: none;
  width: 80px;
  height: 25px;
  font-weight: 200;
  font-size: 10px;
  letter-spacing: 0px;
}

/* ---------------Search Results---------------*/

#search-results {
  width: 400px;
  margin: 20px auto;
  border: 1px;
  border-style: solid;

  min-height: 200px;
}
